<!DOCTYPE html>
<html lang="ar">
    <head>
        <meta charset="UTF-8">
        <title>Tamweenk</title>
        <link rel="stylesheet" href="./nav-main-info.css">
        <link rel="shortcut icon" href="css/images/logo.png">
        <link rel="stylesheet" href="css/Vendors/font-awesome.min.css">
    </head>

<body>
        <div class="logo">
			<a></a>
		</div>
         <div class="side-bar">
			<a href="#"><i class="fa fa-home"></i></a>
			<a href="#" class="SB"><i class="fa fa-id-card"></i></a>
            <a href="#"><i class="fa fa-phone"></i></a>
			<div class="sub-menu">
		    <a href="User">تسجيل الدخول كمستهلك</a>
            <a href="Admin">تسجيل الدخول كتاجر</a>
		</div>
		</div>

    <div class="poss">
        <h2 class="text">مرحبا بكم في خدمة تموينك</h2>
        <h2 class="text">بامكانك طلب تموينك في اي مكان ليصلك حتي منزلك </h2>
        <h2 class="text">لمزيد من التفاصيل</h2>
    </div>

    <div class="detals">
        <a href="#">تفاصيل</a>
    </div>
    
    <div>
        <h3 class="text-product"> بعض المنتجات</h3>
    </div>
   
    <div class="picture">
        <img src="images/p1.jpg" class="img-size">
        <img src="images/p2.jpg" class="img-size">       
        <img src="images/p3.jpg" class="img-size">
        <img src="images/p4.jpg" class="img-size">
        <img src="images/p5.jpg" class="img-size">
       

    </div>
</body>
<footer>
<hr>
<di>FutureTeam CopyRights &copy; 2020</di>
</footer>
</html>